@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  font-family: 'KoHo', sans-serif;
  color: #F8F8F8;
  background-color: #111111;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* create variable */
  --color-primary: rgb(255, 172, 51);
  --color-secondary: #6A6A6A;
}

html, body, #root {
  margin: 0;
  height: 100%;
}